body {
  margin: 0;
  padding: 0;
}

span {
  font-style: italic;
}
/* content */
.list-container {
  border-style: solid;
  display: inline-block;
  border-width: 0.5px;
  padding: 20px;
}

.list-container > p {
  text-align: center;
  font-weight: bold;
}

.img-container {
  float: right;
  padding: 5px;
  border-style: solid;
  margin-left: 10px;
}

.img-container > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo-html {
  max-width: 70px;
}

/* верхняя навигацио */

.nav-container {
  background-color: rgb(177, 218, 254);
  display: flex;
  justify-content: space-between;
}

.nav-container > nav > ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-container > nav > ul > li > a {
  display: block;
  padding: 10px;
  border-style: solid;
  border-width: 0.5px;
}

@media (max-width: 900px) {
  .nav-container {
    flex-direction: column;
  }
}

.text-page{
        padding: 15px;
}

.page{
        display: flex;
        flex-direction: row;
        justify-content: center;
}

.header{
        width: 14%;
        background-color: aquamarine;
}

.section{
        width: 82%;
}

.header>ul{
        list-style: none;
        border-bottom-style:solid ;
        border-width: 0.5px;
        margin: 10px;
        padding: 0;
        padding-bottom: 10px;
}

.header>div{
        width: 100%;
}

.header>div>img{
        width: 100%;
}